body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;

}
:root {
    --main-bg-blue: lightblue;
    --main-bg-green: lightgreen;
    --main-bg-yellow: lightyellow;
    --main-bg-pink: lightpink;
    opacity: .7;
}

.message {
    max-width: 75%;
    border-radius: 0.3em;
    padding: 0.5em;
    margin: 0.5em auto;
    border: 1px solid lightgrey;
}

.message-info {
    background-color: var(--main-bg-blue);
    color: blue;

}
.message-success {
    background-color: var(--main-bg-green);
    color: darkgreen;
}
.message-warning {
    background-color: var(--main-bg-yellow);
    color: saddlebrown;
}
.message-error {
    background-color: var(--main-bg-pink);
    color: darkred;
}
