body {
    font-family: 'sans-serif', Rockwell;
}
header.container {
    height: 60px;
    background-color: #356278;
}
header .row {
    height: 75px;
}
header h1 {
    color: #FFF;
}
section {
    margin: 20px 0;
}
section .row {
    /*border: 1px solid red;*/
}
.map-row{
    min-height: 50vh;
}
section .column {
    /*border: 1px solid blue;*/
}
.search-row {
    gap: 5px;
    width: 1100px;
}
.weather-card .row {
    width: inherit;
}
.middle-card-col {
    height: 100px;
}
.top-card {
    height: 60%;
}
.bottom-card {
    height: 40%;
}
.icon-temp-row {
    height: 80%;
}
.bottom-card .weather-property {
    color: rgba(192, 192, 192, 77%);
}
.temperature {
    font-size: 30px;
}
.weather-card {
    border: 1px solid #000;
    border-radius: 5px;
    padding-bottom: 10px;
    overflow: hidden;
}
#search-bar {
    width: 20vw;
    height: 25px;
}
#search-btn {
    height: 30px;
    width: 70px;
    cursor: pointer;
    background-color: #356278;
    color: white;
    border-radius: 6px;
    border: 1px solid #356278;
}
#search-btn:hover {
    height: 35px;
    width: 75px;
    transition: .3s ease-in .1s;
}
#map {
    border: 1px solid white;
    border-radius: 20px;
}
#date {
    width: auto;
    height: 20%;
    border-bottom: 1px solid #000;
}
.bottom-card .column {
    gap: 10px;
}
#weather-icon {
    height: 75%;
    width: 75%;
}
#weather-description {
    font-size: 14px;
}
.sub-header {
    font-size: 20px;
}